.chat__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999999px;
  z-index: 999999;
  bottom: 3rem;
  right: 2rem;
  background-color: rgb(18, 198, 48);
  width: 4rem;
  height: 4rem;
  -webkit-border-radius: 999999px;
  -moz-border-radius: 999999px;
  -ms-border-radius: 999999px;
  -o-border-radius: 999999px;
}

@media screen AND (min-width: 766px) {
  .chat__container {
    width: 5rem;
    height: 5rem;
  }
}
