.design {
  margin: 2rem;
  font-size: var(--font-size);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 1rem auto;
}

.grid-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.product__container {
  padding: 1rem 0;
}

.product__name {
  padding: 2rem 0;
}

.product__detail-container {
  margin: 1rem 2rem;
  font-size: var(--font-size);
}

.product__order {
  margin: 2rem 0;
}

.image__karangan {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.product__filter {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin: 2rem 0 2rem 0;
}

.product__order {
  background-color: rgb(18, 198, 48);
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.related__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}

.related__title {
  font-size: var(--font-size);
  padding-top: 2rem;
  font-weight: 500;
}


select {
  padding: 0.03rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  font-size: 0.8rem;
  color: #333;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #666;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

  .related__product {
    display: grid;
    grid-auto-flow: column; /* penting: urutkan secara horizontal */
    grid-auto-columns: 300px; /* lebar tiap kolom item */
    gap: 3rem;

    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
  }

  .related__product .item {
    scroll-snap-align: start;
  }

@media screen AND (min-width: 1024px) {
  .product__container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  select {
    padding: 0.3rem 1rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
  }

  .product__container img {
    width: 50%;
    height: 50%;
  }

  .product__detail-container {
    --font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 80vw;
  }

  .related__container {
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .product__category {
    height: 4rem;
    width: 10rem;
  }

  .related__title {
    font-size: var(--font-size);
  }

  .related__product {
    grid-auto-columns: 400px;
  }
}
