.hero__container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: var(--font-size);
}

.hero__number {
    display: flex;
    align-items: center;
    height: 4rem;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem 3rem;
    background-color: rgb(18, 198, 48);
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}