:root {
  --font-size: 1rem;
  --background-green : rgb(37, 211, 102);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: black;
  font-weight: 600;
}

.wrapper {
  padding: 0 0.2rem;
}

html,
body {
  position: relative;
  z-index: 10;
  width: 100%;
  background: rgb(222, 222, 222);
  font-family: "Lato";
}

img {
  max-width: 100%;
  height: auto;
}

@media screen AND (min-width: 1024px) {
  :root {
    --font-size: 2rem;
  }
}

@media screen AND (min-width: 1024px) {
  .wrapper {
    padding: 0 1rem;
  }
}
