.nav__container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.logo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.nav__menu {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}
